.card{
    display: flex;
    flex-direction: column;

    width: 45vw;
    padding: 8px;
}

.card-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    letter-spacing: 0.1em;
}

.card-image-container{
    width: 100%;
    text-align: center;
}

.card-image-container__image{
    max-width: 100%;
    width: 100%;
    text-align: center;
}

.card_grey-borders{
    border: 1px solid #DFDEDB;
}

.card_lookbook{
    width: 343px;
    height: 561px;
    
    background-color: #E0E0E0;
}

.card-description_lookbook{
    flex-direction: row;
    color: #323334;
}

.image-mobile{
    display: block;
}

.image-desktop{
    display: none;
}


@media (min-width: 768px) {
    .card{
        width: 20vw;
        padding: 10px;
    }

    .card-description{
        flex-direction: row;
    }

    .card_grey-borders{
        border: none;
    }

    .card_lookbook{
        width: 582px;
        height: 561px;

        margin: 20px;
    }
    
    .image-mobile{
        display: none;
    }
    
    .image-desktop{
        display: block;
    }

}