.container {
  display: flex;
  flex-direction: column;
}

/* Первый блок (Header) */

.header {
  background-image: url(../images/fon_header.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 737px;
}
@media screen and (max-width: 767px) {
  .header {
    background-image: url(../images/fon_header_mobile.png);
    background-size: 100%;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 72px 0 72px;
}
@media screen and (max-width: 767px) {
  .nav {
    padding: 16px;
  }
}
.heading span {
  font-style: italic;
}
.nav__icon {
  width: 27px;
  height: 10px;
  margin-right: 16px;
}
.nav__text {
  font-family: "Neue Montreal", "Times New Roman", serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #fcfdfd;
}
.nav__logo-img {
  width: 117px;
  height: 19px;
}
.nav__logo {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.nav__icon-basket {
  width: 20px;
  height: 20px;
  margin-left: 16px;
}
.heading {
  margin: 15% 0 0 0;
  font-family: "Reckless Neue", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 90%;
  text-align: center;
  letter-spacing: -0.05em;
  color: #fcfdfd;
}
@media screen and (max-width: 767px) {
  .heading {
    margin: 55% 0 0 0;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.02em;
  }
}

.button {
  display: block;
  margin: 48px auto;
}

.central-positioning-section {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

.central-positioning-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 80%;
}

/* Заголовок ленты товаров */
.enjoy-title {
  padding: 24px;
}

/* Первая лента товаров */
.product-feed-white {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 132px 1fr 1fr 62px;

  height: 120vh;
}

.product-feed-white__title {
  grid-row: 1/2;
  grid-column: 1/3;

  border-top: 1px solid #dfdedb;
  border-bottom: 1px solid #dfdedb;
}

.product-feed-white__card-1 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.product-feed-white__card-2 {
  grid-row: 2/3;
  grid-column: 2/3;
}
.product-feed-white__card-3 {
  grid-row: 3/4;
  grid-column: 1/2;
}
.product-feed-white__card-4 {
  grid-row: 3/4;
  grid-column: 2/3;
}

.product-feed-white__shop-all {
  grid-row: 4/5;
  grid-column: 1/3;

  padding: 24px;
}

/* 4-й блок (Native light chair) */
.double-section {
  display: flex;
  flex-direction: column;
  background-color: #384353;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .double-section {
    flex-direction: row-reverse;
    width: 100%;
  }
}

.first-block {
  max-width: 100vw;
}

@media (min-width: 768px) {
  .first-block {
    width: 50%;
  }
  .second-block {
    width: 50%;
  }
}

.double-section__image {
  width: 90%;
  padding: 16px;
  margin: auto;
}
@media (min-width: 768px) {
  .double-section__image {
    width: 100%;
    height: auto;
    padding: 0;
  }
}

.double-section__text {
  width: 90%;
  padding: 16px;
  margin: auto;
  font-family: "Neue Montreal", "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #dfdedb;
}

@media (min-width: 768px) {
  .double-section__text {
    width: 50%;
    padding: 0;
  }
}

.double-section-link {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .double-section-link {
    margin-bottom: 0;
    margin-top: 24px;
  }
}

.double-section-link__content {
  padding: 24px 0 0 16px;
  font-family: "Neue Montreal", "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #fcfdfd;
  text-decoration: none;
}

@media (min-width: 768px) {
  .double-section-link__content {
    padding-left: 25%;
  }
}

/* 5-й блок (Фон+2 карточки) */
.product-feed-background-table {
  background-image: url(../images/block-5_fon-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.product-feed-background-table__card-1,
.product-feed-background-table__card-2 {
  display: none;
}
.card_color {
  background-color: white;
}

@media (min-width: 768px) {
  .product-feed-background-table {
    background-image: url(../images/block-5_fon.png);
    height: 130vh;
  }

  .product-feed-background-table__card-1 {
    display: block;
    margin-left: 7%;
    margin-top: 12%;
    margin-bottom: -4%;
  }

  .product-feed-background-table__card-2 {
    display: block;
    margin-left: 70%;
    margin-bottom: 16%;
  }
}

/* Вторая лента товаров */

.product-feed-dark {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 132px repeat(4, 1fr) 62px;

  height: 220vh;
  padding-bottom: 30px;

  background-color: #384353;
  color: #f5f4f3;
}

.product-feed-dark__title {
  grid-row: 1/2;
  grid-column: 1/3;

  border-top: 1px solid #dfdedb;
  border-bottom: 1px solid #dfdedb;
}

.product-feed-dark__card-1 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.product-feed-dark__card-2 {
  grid-row: 2/3;
  grid-column: 2/3;
}
.product-feed-dark__card-3 {
  grid-row: 3/4;
  grid-column: 1/2;
}
.product-feed-dark__card-4 {
  grid-row: 3/4;
  grid-column: 2/3;
}
.product-feed-dark__card-5 {
  grid-row: 4/5;
  grid-column: 1/2;
}
.product-feed-dark__card-6 {
  grid-row: 4/5;
  grid-column: 2/3;
}
.product-feed-dark__card-7 {
  grid-row: 5/6;
  grid-column: 1/2;
}
.product-feed-dark__card-8 {
  grid-row: 5/6;
  grid-column: 2/3;
}

.product-feed-dark__shop-all {
  grid-row: 6/7;
  grid-column: 1/3;

  padding: 24px;

  border-top: 1px solid #dfdedb;
  border-bottom: 1px solid #dfdedb;
}

/* Блок 9 */
.product-chair {
  background-image: url(../images/block-9_fon-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 80vh;
}

.product-chair__image {
  max-width: 100%;
  display: none;
}

@media (min-width: 768px) {
  .product-chair {
    background-image: url(../images/block-9_fon.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }

  .product-chair-image-container {
    margin-left: 36%;
    margin-top: 11%;
    margin-bottom: 21%;
  }
  .product-chair__image {
    width: 27vw;
    display: block;
  }
}

/* Footer */

.footer {
  display: grid;
  width: 100%;
  height: 667px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 178px 60% 9% 1fr;
  background-color: #384353;
  font-family: "Neue Montreal", "Times New Roman", serif;
  font-size: 12px;
  line-height: 14px;
  color: #f5f4f3;
}
@media screen and (max-width: 767px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 9% 152px 152px 20% 9% 1fr;
  }
}

.nav-1,
.nav-2,
.nav-3,
.nav-4 {
  border-bottom: 1px solid #dfdedb;
  border-right: 1px solid #dfdedb;
}

.nav-1 {
  grid-row: 1/2;
  grid-column: 1/2;
}
@media screen and (max-width: 767px) {
  .nav-1 {
    grid-row: 2/3;
    grid-column: 1/2;
    border-top: 1px solid #dfdedb;
  }
}

.nav-2 {
  grid-row: 1/2;
  grid-column: 2/3;
}
@media screen and (max-width: 767px) {
  .nav-2 {
    grid-row: 2/3;
    grid-column: 2/3;
    border-top: 1px solid #dfdedb;
  }
}

.nav-3 {
  grid-row: 1/2;
  grid-column: 3/4;
}

@media screen and (max-width: 767px) {
  .nav-3 {
    grid-row: 3/4;
    grid-column: 1/2;
  }
}
.nav-4 {
  grid-row: 1/2;
  grid-column: 4/5;
}
@media screen and (max-width: 767px) {
  .nav-4 {
    grid-row: 3/4;
    grid-column: 2/3;
  }
}

.image-footer {
  grid-row: 2/3;
  grid-column: 1/5;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .image-footer {
    grid-row: 4/5;
    grid-column: 1/3;
  }
}

.image-footer__name {
  max-width: 94%;
  display: block;
  margin: auto;
}

.author {
  grid-row: 3/4;
  grid-column: 1/5;
  padding: 24px;
  text-align: center;
  border-bottom: 1px solid #dfdedb;
  border-top: 1px solid #dfdedb;
}
@media screen and (max-width: 767px) {
  .author {
    grid-row: 5/6;
    grid-column: 1/3;
  }
}
.nav__list {
  padding: 25px 48px;
  margin: 0px;
}
@media screen and (max-width: 767px) {
  .nav__list {
    padding: 16px 12px;
    margin: 0px;
  }
}
.nav__item {
  list-style-type: none;
  padding-bottom: 14px;
}
@media screen and (max-width: 767px) {
  .nav__list {
    padding-bottom: 8px;
  }
}

@media (min-width: 768px) {
  .central-positioning-section {
    height: 50vh;
  }

  .central-positioning-section-content {
    width: 40%;
  }

  /* Первая лента товаров */
  .product-feed-white {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 90px 1fr 62px;

    height: 75vh;
  }

  .product-feed-white__title {
    grid-row: 1/2;
    grid-column: 1/5;
  }

  .product-feed-white__card-1 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .product-feed-white__card-2 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .product-feed-white__card-3 {
    grid-row: 2/3;
    grid-column: 3/4;
  }
  .product-feed-white__card-4 {
    grid-row: 2/3;
    grid-column: 4/5;
  }

  .product-feed-white__shop-all {
    grid-row: 3/4;
    grid-column: 1/5;
  }

  .product-feed-dark__shop-all {
    grid-row: 3/4;
    grid-column: 1/5;
  }

  /* Вторая лента товаров */
  .product-feed-dark {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 90px repeat(2, 1fr) 62px;

    height: 110vh;
  }

  .product-feed-dark__title {
    grid-row: 1/2;
    grid-column: 1/5;
  }

  .product-feed-dark__card-1 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .product-feed-dark__card-2 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .product-feed-dark__card-3 {
    grid-row: 2/3;
    grid-column: 3/4;
  }
  .product-feed-dark__card-4 {
    grid-row: 2/3;
    grid-column: 4/5;
  }
  .product-feed-dark__card-5 {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .product-feed-dark__card-6 {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  .product-feed-dark__card-7 {
    grid-row: 3/4;
    grid-column: 3/4;
  }
  .product-feed-dark__card-8 {
    grid-row: 3/4;
    grid-column: 4/5;
  }

  .product-feed-dark__shop-all {
    grid-row: 4/5;
    grid-column: 1/5;
  }
}
